
build/StopWatchDemo.build/Debug-iphonesimulator/StopWatchDemo.build/dgph

build/StopWatchDemo.build/Debug-iphonesimulator/StopWatchDemo.build/dgph

*.dia

*.swiftdeps

*.o

*.swiftdeps

*.xcuserstate

*.dat

build/StopWatchDemo.build/Debug-iphonesimulator/StopWatchDemo.build/assetcatalog_dependencies

build/Debug-iphonesimulator/StopWatchDemo.app/StopWatchDemo

build/Debug-iphonesimulator/StopWatchDemo.app/_CodeSignature/CodeResources

*.dat
