
build/StopWatchDemo.build/Debug-iphonesimulator/StopWatchDemo.build/dgph

build/StopWatchDemo.build/Debug-iphonesimulator/StopWatchDemo.build/dgph

*.dia

*.swiftdeps

*.o

*.swiftdeps

*.xcuserstate
